<h1> PGA Tour Success, what are the main factors?</h1>
<h4> Dataset is from https://www.kaggle.com/datasets/robikscube/pga-tour-golf-data-20152022/data</h4>

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt

<h2><strong>Taking a look at the data set</strong></h2>

In [7]:
df_pga = pd.read_csv('pgaData.csv')
df_pga.head()

,Player_initial_last,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,...,purse,season,no_cut,Finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
0,A. Ancer,401353224,9261,288,289,60.0,51.1,56,3,7.6,...,12.0,2022,0,T32,0.20,-0.13,-0.08,0.86,0.65,0.85
1,A. Hadwin,401353224,5548,288,286,72.5,61.5,61,8,13.0,...,12.0,2022,0,T18,0.36,0.75,0.31,0.18,1.24,1.60
2,A. Lahiri,401353224,4989,144,147,21.5,17.4,27,0,0.0,...,12.0,2022,0,CUT,-0.56,0.74,-1.09,0.37,0.02,-0.54
3,A. Long,401353224,6015,144,151,20.5,13.6,17,0,0.4,...,12.0,2022,0,CUT,-1.46,-1.86,-0.02,0.80,-1.08,-2.54
4,A. Noren,401353224,3832,144,148,23.5,18.1,23,0,1.2,...,12.0,2022,0,CUT,0.53,-0.36,-1.39,0.19,-1.56,-1.04

In [14]:
df_pga.shape

(36864, 37)

In [16]:
df_pga.columns

Index(['Player_initial_last', 'tournament id', 'player id', 'hole_par',
       'strokes', 'hole_DKP', 'hole_FDP', 'hole_SDP', 'streak_DKP',
       'streak_FDP', 'streak_SDP', 'n_rounds', 'made_cut', 'pos', 'finish_DKP',
       'finish_FDP', 'finish_SDP', 'total_DKP', 'total_FDP', 'total_SDP',
       'player', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'tournament name',
       'course', 'date', 'purse', 'season', 'no_cut', 'Finish', 'sg_putt',
       'sg_arg', 'sg_app', 'sg_ott', 'sg_t2g', 'sg_total'],
      dtype='object')

<h2><strong> Who are the top 3 indicators of success on the pga tour? </strong></h2>
<h4> We will use this data set, along with ..... to find out. </h4>

<h4>First let's take a look at some previous winners</h4>

In [13]:
df_winners = df_pga.loc[df_pga['pos'] == 1][['Player_initial_last','tournament name','date']]
df_winners

,Player_initial_last,tournament name,date
16,B. Horschel,The Memorial Tournament pres. by Nationwide,2022-06-05
204,S. Burns,Charles Schwab Challenge,2022-05-29
286,J. Thomas,PGA Championship,2022-05-22
427,K. Lee,AT&T Byron Nelson,2022-05-15
575,M. Homa,Wells Fargo Championship,2022-05-08
...,...,...,...
36438,N. Taylor,Sanderson Farms Championship,2014-11-09
36525,R. Moore,CIMB Classic,2014-11-02
36617,R. Streb,The McGladrey Classic,2014-10-26
36653,B. Martin,Shriners Hospital for Children Open,2014-10-19
36844,S. Bae,Frys.com Open,2014-10-12